[global_config]
  title_font = Monospace 13
[keybindings]
  split_horiz = <Alt>d
  split_vert = <Shift><Alt>d
  switch_to_tab_1 = <Alt>1
  switch_to_tab_10 = <Alt>0
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = True
      last_active_term = e9f4f374-353d-457d-a247-98801aaf283c
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 0:0
      size = 1920, 1080
      title = james@{{ inventory_hostname_short }}:/home/james
      type = Window
    [[[terminal1]]]
      order = 0
      parent = child0
      profile = default
      type = Terminal
      uuid = e9f4f374-353d-457d-a247-98801aaf283c
[plugins]
[profiles]
  [[default]]
    background_color = "#002b36"
    background_darkness = 0.84
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Monospace 14
    foreground_color = "#839496"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_infinite = True
    use_system_font = False
    visible_bell = True
