---
# Sensu agent configuration

##
# agent overview
##
name: "{{ inventory_hostname_short }}"
namespace: "default"
subscriptions:
  - system
{% if base_playbook in ['docker-server', 'server', 'virt-server'] %}
  - dockerhost
{% endif %}
{% if base_playbook in ['server', 'virt-server'] %}
  - vmhost
{% endif %}
{% if base_playbook in ['server', 'archive-server'] %}
  - projecthost
{% endif %}
{% if 'development' in base_playbook %}
  - dev
{% endif %}
{% if 'bastion' in base_playbook %}
  - bastion
{% endif %}

##
# agent configuration
##
backend-url:
  - "ws://INSERT_SENSU_HOSTNAME_HERE:8903"
cache-dir: "/var/cache/sensu/sensu-agent"
config-file: "/etc/sensu/agent.yml"
disable-assets: false
log-level: "warn" # available log levels: panic, fatal, error, warn, info, debug

##
# monitoring configuration
##
deregister: false
keepalive-warning-timeout: 60
keepalive-critical-timeout: 300
