[org/gnome/settings-daemon/plugins/media-keys]
custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/']
www='<Primary><Alt>w'
home='<Primary><Alt>e'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1]
binding='<Primary><Alt>r'
command='remmina'
name='Remmina'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0]
binding='<Primary><Alt>t'
command='gnome-terminal'
name='Terminal'

[org/gnome/Weather/Application]
locations=[<(uint32 2, <('Portland', 'KPDX', true, [(0.79571014457688405, -2.1397785149603687)], [(0.7945341242735976, -2.1411037260081156)])>)>]

[org/gnome/desktop/background]
picture-uri='file:///usr/share/backgrounds/schroedinger-cat/default-animated/schroedinger-cat.xml'
color-shading-type='solid'
primary-color='#000000000000'
picture-options='stretched'
secondary-color='#000000000000'

[org/gnome/desktop/screensaver]
picture-uri='file:///usr/share/backgrounds/schroedinger-cat/default-animated/schroedinger-cat.xml'
color-shading-type='solid'
primary-color='#000000000000'
picture-options='stretched'
secondary-color='#000000000000'

