arch:
 template: arch-openstack-LATEST-image-bootstrap.qcow2
 numcpus: 2
 memory: 2048
 disks:
  - size: 40
 cmds:
  - curl https://raw.githubusercontent.com/toozej/ansible/master/bootstrap.sh -O && chmod +x bootstrap.sh
  - sudo ./bootstrap.sh -r common.yml > /tmp/bootstrap.log 2>&1
fedora:
 template: Fedora-Cloud-Base-31-1.9.x86_64.qcow2
 numcpus: 2
 memory: 2048
 disks:
  - size: 40
 cmds:
  - curl https://raw.githubusercontent.com/toozej/ansible/master/bootstrap.sh -O && chmod +x bootstrap.sh
  - sudo ./bootstrap.sh -r common.yml > /tmp/bootstrap.log 2>&1
opensuse:
 template: openSUSE-Leap-42.3-OpenStack.x86_64.qcow2
 numcpus: 2
 memory: 2048
 disks:
  - size: 40
 cmds:
  - curl https://raw.githubusercontent.com/toozej/ansible/master/bootstrap.sh -O && chmod +x bootstrap.sh
  - sudo ./bootstrap.sh -r common.yml > /tmp/bootstrap.log 2>&1
debian:
  template: debian-11-generic-amd64.qcow2
  numcpus: 2
  memory: 2048
  disks:
  - size: 40
  cmds:
  - sudo apt-get update -qq && apt-get install -y curl
  - curl https://raw.githubusercontent.com/toozej/ansible/master/bootstrap.sh -O &&
    chmod +x bootstrap.sh
  - sudo ./bootstrap.sh -r common.yml > /tmp/bootstrap.log 2>&1
ubuntu:
  template: focal-server-cloudimg-amd64.img
  numcpus: 2
  memory: 2048
  disks:
  - size: 40
  cmds:
  - sudo apt-get update -qq && apt-get install -y curl
  - curl https://raw.githubusercontent.com/toozej/ansible/master/bootstrap.sh -O &&
    chmod +x bootstrap.sh
  - sudo ./bootstrap.sh -r common.yml > /tmp/bootstrap.log 2>&1
