---
name: CI
'on':
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master
      - github_actions
  schedule:
    - cron: "0 1 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: 'ansible'

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6
        with:
          path: 'ansible'

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install yamllint ansible-lint ansible

      - name: Lint code.
        run: |
          # yamllint .
          # ansible-lint
          ansible-playbook -i tests/inventory tests/test.yml --syntax-check
        env:
          ANSIBLE_ROLES_PATH: '/home/runner/work/ansible/ansible/ansible/roles'
          ANSIBLE_HOST_KEY_CHECKING: false

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        playbook:
          - dev
          - gui-dev
          - gui
          - gui-gaming
          - server
      fail-fast: false

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6
        with:
          path: 'ansible'

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible pyopenssl ndg-httpsclient pyasn1

      - name: Set up James user
        run: sudo useradd -m -c "james" james -s /bin/bash

      - name: Use more reliable Ubuntu apt mirror
        run: |
          sudo sed -i 's|http://azure.archive.ubuntu.com|https://ubuntu.osuosl.org|g' /etc/apt/sources.list && \
          sudo apt-get update

      - name: Run tests.
        run: ansible-playbook -vv --skip-tags github,copy_host_ssh_id,ci,gh-releases -i tests/inventory tests/${{ matrix.playbook }}.yml
        env:
          ANSIBLE_ROLES_PATH: '/home/runner/work/ansible/ansible/ansible/roles'
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          ANSIBLE_HOST_KEY_CHECKING: false

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
